<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Startpage</title>
</head>
<body>
<h1>Welcome to the international airport!</h1>
<br>
<h3>Arrivals and departures</h3>

<table th:if="${NOGETBACKEND.size()} > 0" class="table table-striped">
    <thead>
    <tr>
        <td><b>Flight number</b></td>
        <td><b>Estimated time of arrival</b></td>
        <td><b>Arrival</b></td>
        <td><b>Aviation company</b></td>
    </tr>
    </thead>
</table>


<p></p>

</body>
</html>